/dist
/node_modules
/database/database.sqlite

/storage/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar

# Allow
!vendor
vendor/*
!vendor/spatie
vendor/spatie/*
!vendor/spatie/laravel-webhook-client
vendor/spatie/laravel-webhook-client/*
!vendor/spatie/laravel-webhook-client/config
vendor/spatie/laravel-webhook-client/config/*
!vendor/spatie/laravel-webhook-client/config/webhook-client.php

